.nn-container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--nn-space-md);
}

@media (min-width: 40rem) {
  .nn-container {
    padding-inline: var(--nn-space-lg);
  }
}

@media (min-width: 64rem) {
  .nn-container {
    padding-inline: var(--nn-space-xl);
  }
}

.nn-container--flush {
  padding-inline: 0;
}

.nn-container--sm {
  max-width: 40rem;
}
.nn-container--md {
  max-width: 56rem;
}
.nn-container--lg {
  max-width: 72rem;
}
.nn-container--xl {
  max-width: 90rem;
}
.nn-container--full {
  max-width: none;
}
